* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
/* format du coument avec boites body,header, main, aside, footer */
.page {
  display: grid;
  grid-template-columns: 15vh 1fr 15vh;
  grid-template-rows: 150px auto 90px;
  grid-template-areas:
    "hd hd hd"
    "sg ct sd"
    ". pd .";
}
/* format de page pour la page blog */
.pageblog {
  display: grid;
  grid-template-columns: 10vh auto 10vh;
  grid-template-rows: 200px auto auto 90px;
  grid-auto-flow: row;

  grid-template-areas:
    "hd hd hd"
    ". sg ."
    "ct ct ct"
    ". pd .";
}

.usa {
  background-image: url("/Zagoujava/Images/USA.jpg");
  background-size: cover;
}
.bleu {
  background-color: rgba(180, 221, 238, 0.5);
}
.portugal {
  background-image: url("/Zagoujava/Images/Crete.jpg");
  background-size: cover;
}

/* en tete avec images et nom du Blog */
.entete {
  grid-area: hd;
  background-size: cover; /* pour les images d'entête */
}
.fam {
  background-image: url("/Zagoujava/Panoramas/Keriskin\ jour\ long.jpg");
}
.famcopy {
  background-image: url("/Zagoujava/Panoramas/Ecosse.jpg");
}
.imgblog {
  background-image: url("/Zagoujava/Panoramas/Ile\ de\ Sein.jpg");
}
.imgac {
  background-image: url("/Zagoujava/Panoramas/Saint\ Nazaire.jpg");
}
.entete_fam {
  background-image: url("Images/dunes.jpg");
  background-size: cover;
  top: 0%;
  z-index: 2;
}
.grdtitre {
  font-size: 4em;
  /*ecarter en haut et en bas pour le bandeau*/
  padding-top: 10px;
  color: gold;
  text-align: center;
  text-shadow: 1px 1px black;
}
/* boite principale */
.central {
  grid-area: ct;
  margin: 10px;
}
/* sidebars menus */
.sideg {
  grid-area: sg;
  padding: 10px;
}
.sided {
  grid-area: sd;
  padding: 10px;
}
/* menu principal */
li {
  list-style-type: none;
}
.menu li,
.menumarge li {
  margin: 10px;
  text-align: center;
}
.menu li a,
.menumarge li a {
  text-decoration: none;
  color: black;
}
.menu a:hover,
.encours {
  background-color: yellow;
  border-radius: 6px;
  padding: 2px;
}
.aplat {
  text-align: center;
}
.aplat li {
  display: inline-block;
}
/* menu icones */
.icones {
  height: 50px;
  margin: 10px;
  background-size: cover;
  border-radius: 20%;
}
.icones:hover {
  border: solid;
  border-color: yellow;
}
.actif {
  border: solid;
}

/* section milieu ----------------*/
.fond {
  background-image: url("Images/Mexique.jpg");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}
.imgronde {
  float: left;
  width: 10em;
  border-radius: 50%;
  margin: 1rem;
}

.container {
  padding: 0 20px;
}
.just {
  text-align: justify;
}
.cent {
  text-align: center;
  background-color: wheat;
}
.Lect43 {
  width: 100%;
  aspect-ratio: 4/3;
  max-height: 80vh;
}
.Lect169 {
  width: 100%;
  aspect-ratio: 16/9;
  /* max-height: 80vh; */
}

.relat {
  position: relative;
}
.blogs {
  width: 220px;
  aspect-ratio: 1/1;
  margin: 1em 2em;
  border-radius: 25%;
  text-align: center;
  box-shadow: 10px 5px 5px gray;
  cursor: pointer;
}
.ti_blog {
  position: absolute;
  text-align: center;
  width: 150px;
  top: 50px;
  left: 25%;
  font-size: 1.5em;
  color: gold;
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
}
.blogs:hover {
  border: 3px solid grey;
}
.blogs:active {
  border: 6px solid gray;
}
/* pied de page */
.pied {
  grid-area: pd;
}
.flexy {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}
.flexy-pied {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}
h2 {
  margin: auto;
}
/*----------------------------------*/

@media screen and (max-width: 740px) {
  .page {
    grid-template-columns: 10px auto 10px;
    grid-template-rows: 150px auto auto auto 90px;
    grid-auto-flow: row;

    grid-template-areas:
      ". hd ."
      ". sg ."
      ". sd ."
      ". ct ."
      ". pd .";
  }

  .sided {
    padding: 0;
  }
  .menu,
  .menumarge {
    text-align: center;
  }
  .icones {
    height: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .menu li,
  .menumarge li {
    display: inline-block;
  }
}
