*,
::before,
::after {
  margin: 0;
  padding: 0;
  font-family: "Bubbler One", "Open Sans Condensed", "Gruppo", "Source Sans Pro",
    "Pompiere", sans-serif;

  font-size: 18px;
  box-sizing: border-box;
  --hautBox: 76vh;
  --hautBoxSmart: 63vh;
  --maxWidth: 70vw;
  --maxWidthSmart: 95vw;
}
/* format du coument avec boites body,header, main, aside, footer */
.page {
  height: 100vh;
  display: grid;
  grid-template-columns: 15vw 1fr 15vw;
  grid-template-rows: 17vh auto 7vh;
  grid-template-areas:
    "hd hd hd"
    "sg ct sd"
    "pd pd pd";
}
.pageacc {
  display: grid;
  height: 100vh;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 17vh 5vh auto 7vh;
  grid-template-areas:
    "hd hd"
    "sg sg"
    "ct sd"
    "pd sd";
}
.pagetxt {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 17vh 5vh auto 7vh;
  grid-template-areas:
    "hd hd"
    "sg sg"
    "ct sd"
    "pd pd";
}

/* format de page pour la page blog */
.pageblog {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 17vh 5vh auto 7vh;
  grid-template-areas:
    "hd "
    "sg "
    "ct "
    "pd ";
}
/* fonds de pages */
.imvoy {
  background: url("/Zagoujava/Images/USA.jpg") left center/cover;
  background-repeat: no-repeat;
}
.grece {
  background: url("/Zagoujava/Images/Grece.jpg") center/cover;
  background-repeat: no-repeat;
}
.bleu {
  background-color: rgba(180, 221, 238, 0.5);
  box-shadow: 0 2px 10px gray;
}
.jaune {
  background-color: rgba(248, 231, 165, 0.829);
  box-shadow: 0 2px 10px gray;
  z-index: 10;
}
.marron {
  background-color: rgba(243, 160, 100, 0.582);
}
.gris {
  background-color: rgba(187, 186, 186, 0.7);
}
.imfamily {
  background: url("/Zagoujava/Images/Mimosa.jpg") center/cover;
  background-repeat: no-repeat;
}
.imfamily2 {
  background: url("/Zagoujava/Images/Mimosa2.jpg") center/cover;
  background-repeat: no-repeat;
}
.imavant {
  background: url("/Zagoujava/Images/Laber.jpg") bottom/cover;
  background-repeat: no-repeat;
}
.imavant2 {
  background: url("/Zagoujava/Images/LesAnges.jpg") right top/cover;
  background-repeat: no-repeat;
}
.imamis {
  /* background: url("/Zagoujava/Images/Grece.jpg") top/cover;
  background-repeat: no-repeat; */
  background-color: cornsilk;
}

/* en tete avec images panoramas et nom du Blog */
.entete {
  grid-area: hd;
  position: relative;
}
.fam {
  background: url("/Zagoujava/Panoramas/Bateaux\ Aber.jpg") center/cover;
}
.avan {
  background: url("/Zagoujava/Panoramas/Avant2.jpg") right/cover;
}
.voy {
  background: url("/Zagoujava/Panoramas/Venise\ Soleil\ Couchant.jpg")
    center/cover;
}
.imgblog {
  background: url("/Zagoujava/Panoramas/Ile\ de\ Sein\ 2.jpg") center/cover;
}
.imgac {
  background: url("/Zagoujava/Panoramas/Keriskin.jpg") left / cover;
}
.imgam {
  background: url("/Zagoujava/Panoramas/Ecosse.jpg") left / cover;
}
.grdtitre {
  position: relative;
  font-size: calc(2em + 3vw);
  /*centrer verticlement le bandeau*/
  top: 50%;
  transform: translateY(-50%);
  padding-left: 1em;
  color: gold;
  text-align: left;
  text-shadow: 2px 2px 3px black;
}
/* placer le ss titre à droite en bas du bandeau */
.sstitre {
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  right: 0;
  color: lime;
  text-align: right;
  text-shadow: 1px 1px black;
  font-size: calc(1em + 2vw);
  padding-right: 0.5em;
}
/* boite de gauche dans les pages text */

/* boite principale */
.central {
  grid-area: ct;
  margin: 5px 0;
}
/* boite pour regler la largeur */
/* la largeur calculée depasse tres souvent la largeur de l'ecran. c'est la max with qui le ramene à la largeur de la boite central */
.larg169 {
  position: relative;
  width: calc(var(--hautBox) * 16 / 9);
  max-width: var(--maxWidth);
  margin: auto;
}

.larg43 {
  position: relative;
  width: calc(var(--hautBox) * 4 / 3);
  max-width: var(--maxWidth);
  margin: auto;
}
/* container pour les videos du sideD */
.largsd {
  position: relative;
  width: 89%;
  margin: auto;
}
/* container pour les iframe de 16/9 ou 4/3 */
.l169 {
  position: relative;
  padding-bottom: 56.25%;
}
.l43 {
  position: relative;
  padding-bottom: 75%;
}
/* adaptation du lecteur youtube */
.lect {
  position: absolute;
  width: 100%;
  height: 100%;
   box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.479);
}
/* sidebars menus */
.sideg {
  grid-area: sg;
  /* centrer le menu vertical */
  padding: 0 2vw;
}
.centvert {
  /* flex pour centrer verticalement le menu horizontal */
  display: flex;
  justify-content: center;
  align-items: center;
}
.sided {
  grid-area: sd;
}

/* menu principal */
li {
  list-style-type: none;
}

.menu li {
  margin: 1.3vh 1.3vw;
}
.menumarge li {
  text-align: center;
  margin: 10px 0;
}
.menu li a,
.menumarge li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
}
.blanc li a {
  color: white;
}

.menu a:hover,
.encours {
  background-color: gold;
  border-radius: 6px;
  box-shadow: 5px 5px 10px black;
  padding: 2px;
}
.aplat {
  text-align: center;
}
.aplat li {
  display: inline;
}
/* menu icones */
.icones {
  height: 5vh;
  max-height: 5vw;
  border-radius: 20%;
}
.fdicone {
  background-color: whitesmoke;
}
.margr {
  margin-right: 10px;
}
.icones:hover {
  background-color: yellow;
  box-shadow: 5px 5px 5px black;
}

/* identifier l'icone en cours */
.actif {
  box-shadow: 5px 5px 10px black;
}

/* section milieu ----------------*/
.image {
  width: 100%;
}

/* polsize des textes */
.justscroll {
  text-align: justify;
  /* background-color: blanchedalmond; */
  border: 2px solid rgba(248, 231, 165, 0.829);

  overflow: auto;
  margin: 0; /* pour supprimer la bande blanche entre blog et central des pages amis et Index */
}
.grab {
  cursor: grab;
}
.padbas {
  margin-bottom: 5px;
}
/* decaler les textes des paragraphes /cadre */
.justscroll p {
  padding: 1vh 3vw;
}
/* centrage des titres */
.justscroll h2 {
  text-align: center;
  font-weight: bolder;
  font-size: 1.5em;
}

.relat {
  position: relative;
}
.blogs {
  width: 220px;
  height: 220px;
  margin: 1em 2em;
  border-radius: 25%;
  cursor: pointer;
}
.ti_blog {
  position: absolute;
  width: 150px;
  top: 50px;
  left: 25%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: gold;
  text-shadow: 1px 1px 2px black;
}
.blogs:hover {
  box-shadow: 10px 5px 5px gray;
}
.ti_blog:hover {
  color: rgb(255, 174, 0);
}
/* pied de page */
.pied {
  width: auto;
  grid-area: pd;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
.textpd {
  width: 100%;
  text-align: left;
  padding-left: 10px;
  font-size: calc(0.4em + 1vw);
}
/* caler les deux icones en ligne */

.pied ul {
  width: 20vw;
}
.pied li {
  padding-top: 2px;
  display: inline;
}
/* copyright calé à droite */
.cop {
  width: 6em;
}
/* centre flexible pour les icones des blogs */
.flexy {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0;
  overflow: scroll;
}

/*----------------------------------*/

@media screen and (max-width: 740px) {
  .page {
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: 17vh 5vh 7vh auto 7vh;
    grid-template-areas:
      " hd"
      " sg"
      " sd"
      " ct "
      " pd";
  }
  /* le menu Sideg sort du flux et reste fixé en haut */
  .pagetxt,
  .pageacc {
    height: auto;
    grid-template-columns: auto;
    grid-template-rows: 17vh 5vh auto auto 7vh;
    grid-template-areas:
      "hd "
      "sg"
      "ct"
      "sd"
      "pd";
  }

  .centvrt {
    /* flex pour centrer verticalement le menu horizontal des pages non text */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* fixer le menu des pages textes en mode etroit deroulant */
  .fixmenu {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px gray;
  }
  .central {
    margin: 0;
  }
  .larg43 {
    max-width: var(--maxWidthSmart);
    width: calc(var(--hautBoxSmart) * 4 / 3);
  }
  .larg169 {
    max-width: var(--maxWidthSmart);
    width: calc(var(--hautBoxSmart) * 16 / 9);
  }

  .menu,
  .menumarge {
    text-align: center;
  }
  .menu li,
  .menumarge li {
    display: inline;
  }
}
